@use "sass:math" as math;

html,
body {
  height: 100vh;
}

body {
  margin: 0;
}

canvas {
  z-index: 1000;
}

/**
 * Tooltip
 */
[data-tooltip] {
  $caret-height: 4px;
  $caret-width: 6px;
  $distance: 10px;
  $tooltip-bg-color: rgba(39, 39, 39, 1);

  position: relative;
  cursor: default;

  &:hover {
    &::before {
      content: attr(data-tooltip);
      font-size: 14px;
      text-align: center;
      position: absolute;
      display: block;
      left: 50%;
      min-width: 150px;
      max-width: 200px;
      bottom: calc(100% + #{$distance});
      transform: translate(-50%);
      animation: fade-in 300ms ease;
      background: $tooltip-bg-color;
      border-radius: 4px;
      padding: 10px;
      color: #ffffff;
      z-index: 1;
    }

    &::after {
      content: '';
      position: absolute;
      display: block;
      left: 50%;
      width: 0;
      height: 0;
      bottom: calc(100% + #{$distance - $caret-height});
      margin-left: math.div(-$caret-width, 2);
      border: 1px solid black;
      border-color: $tooltip-bg-color transparent transparent transparent;
      border-width: $caret-height $caret-width 0;
      animation: fade-in 300ms ease;
      z-index: 1;
    }
  }

  &[tooltip-position='bottom'] {
    &:hover {
      &::before {
        bottom: auto;
        top: calc(100% + #{$distance});
      }

      &::after {
        bottom: auto;
        top: calc(100% + #{$distance - $caret-height});
        border-color: transparent transparent $tooltip-bg-color;
        border-width: 0 $caret-width $caret-height;
      }
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
